
canvas{ 
    display: block; vertical-align: bottom; 
} /* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 
    width:100%; 
    height:100%; 
    background-color: #01041b00;
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 

    opacity: 0; /* Start hidden */
    transition: opacity 9500ms ease-in-out; /* Smooth transition for opacity */
}

#particles-js.show-particles {
    opacity: 0.21;
}