@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.left-slide p {
  font-size: 18px;
  text-align: center;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contact-section {
    background-color: #eaf4f4;
    padding: 50px 0;
    text-align: center;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info {
    max-width: 600px;
  }
  
  .contact-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-button {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-button i {
    margin-right: 10px;
  }
  
  .contact-button:hover {
    background-color: #128C7E;
  }
  
  .contact-illustration img {
    max-width: 100%;
    height: auto;
  }
  

  .footer {
    background-color: #282c34;
    color: #fff;
    padding: 50px 0;
    font-family: 'Lato', sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-container > div {
    flex: 1;
    min-width: 220px;
    margin-right: 20px;
  }
  
  .footer-about,
  .footer-links,
  .footer-contact,
  .footer-social {
    margin-bottom: 20px;
  }
  
  .footer-about h3,
  .footer-links h3,
  .footer-contact h3,
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f9f9f9;
  }
  
  .footer-about p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-links ul,
  .footer-contact ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li,
  .footer-contact ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a,
  .footer-contact ul li {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links ul li a:hover,
  .footer-contact ul li:hover {
    color: #f9f9f9;
  }
  
  .footer-social a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-social a:hover {
    color: #25D366; /* Mude para a cor desejada ao passar o mouse */
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-top: 1px solid #444;
  }
  
  .footer-bottom p {
    font-size: 14px;
    color: #aaa;
  }
  